In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [2]:
movies = pd.read_csv( 'ml-1m/movies.dat',
                     sep = '::',
                     header = None,
                     engine = 'python',
                     encoding = 'latin-1'
                    )
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [3]:
users = pd.read_csv( 'ml-1m/users.dat',
                     sep = '::',
                     header = None,
                     engine = 'python',
                     encoding = 'latin-1'
                    )
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [4]:
ratings = pd.read_csv( 'ml-1m/ratings.dat',
                     sep = '::',
                     header = None,
                     engine = 'python',
                     encoding = 'latin-1'
                    )
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [5]:
training_set = pd.read_csv( 'ml-100k/u1.base', delimiter = '\t',  header=None )
training_set.head()

   0  1  2          3
0  1  1  5  874965758
1  1  2  3  876893171
2  1  3  4  878542960
3  1  4  3  876893119
4  1  5  3  889751712

In [6]:
training_set.shape

(80000, 4)

In [7]:
training_set = np.array( training_set, dtype = 'int' )
print(training_set)

[[        1         1         5 874965758]
 [        1         2         3 876893171]
 [        1         3         4 878542960]
 ...
 [      943      1188         3 888640250]
 [      943      1228         3 888640275]
 [      943      1330         3 888692465]]

In [8]:
test_set = pd.read_csv( 'ml-100k/u1.test', delimiter = '\t',  header=None )
test_set.head()

   0   1  2          3
0  1   6  5  887431973
1  1  10  3  875693118
2  1  12  5  878542960
3  1  14  5  874965706
4  1  17  3  875073198

In [9]:
test_set.shape

(20000, 4)

In [10]:
test_set = np.array( test_set, dtype = 'int' )
print(test_set)

[[        1         6         5 887431973]
 [        1        10         3 875693118]
 [        1        12         5 878542960]
 ...
 [      459       934         3 879563639]
 [      460        10         3 882912371]
 [      462       682         5 886365231]]

In [11]:
nb_users = int(max( max( training_set[ :, 0 ] ), max( test_set[ :, 0 ] ) ))
nb_movies = int(max( max( training_set[ :, 1 ] ), max( test_set[ :, 1 ] ) ))

print(nb_users)
print(nb_movies)

943
1682

In [12]:
def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        id_movies = data[ :, 1 ][data[ :, 0 ] == id_users]
        id_ratings = data[ :, 2 ][data[ :, 0 ] == id_users]
        
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        
        new_data.append( list(ratings) )
    
    return new_data

In [13]:
training_set = convert(training_set)
test_set = convert(test_set)

In [14]:
len(training_set)

943

In [15]:
len(test_set)

943

# Converting data into Torch tensors

In [16]:
training_set = torch.FloatTensor( training_set )
test_set = torch.FloatTensor( test_set )

In [17]:
type( training_set )

torch.Tensor

In [18]:
type( test_set )

torch.Tensor

# Creating the architechture of the Neural Network

In [19]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [20]:
sae = SAE()

In [21]:
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

# Training the SAE

In [22]:
nb_epoch = 200

for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion( output, target )
            mean_corrector = nb_movies / float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data * mean_corrector)
            s += 1.
            optimizer.step()
    
    print( 'epoch: ' + str(epoch) + ' loss: ' + str(train_loss / s) )

epoch: 1 loss: tensor(1.7709)
epoch: 2 loss: tensor(1.0966)
epoch: 3 loss: tensor(1.0535)
epoch: 4 loss: tensor(1.0382)
epoch: 5 loss: tensor(1.0309)
epoch: 6 loss: tensor(1.0266)
epoch: 7 loss: tensor(1.0237)
epoch: 8 loss: tensor(1.0219)
epoch: 9 loss: tensor(1.0210)
epoch: 10 loss: tensor(1.0198)
epoch: 11 loss: tensor(1.0192)
epoch: 12 loss: tensor(1.0183)
epoch: 13 loss: tensor(1.0179)
epoch: 14 loss: tensor(1.0176)
epoch: 15 loss: tensor(1.0171)
epoch: 16 loss: tensor(1.0170)
epoch: 17 loss: tensor(1.0169)
epoch: 18 loss: tensor(1.0167)
epoch: 19 loss: tensor(1.0163)
epoch: 20 loss: tensor(1.0161)
epoch: 21 loss: tensor(1.0162)
epoch: 22 loss: tensor(1.0161)
epoch: 23 loss: tensor(1.0158)
epoch: 24 loss: tensor(1.0160)
epoch: 25 loss: tensor(1.0157)
epoch: 26 loss: tensor(1.0157)
epoch: 27 loss: tensor(1.0153)
epoch: 28 loss: tensor(1.0152)
epoch: 29 loss: tensor(1.0130)
epoch: 30 loss: tensor(1.0118)
epoch: 31 loss: tensor(1.0089)
epoch: 32 loss: tensor(1.0083)
epoch: 33 loss: tensor(1.0052)
epoch: 34 loss: tensor(1.0051)
epoch: 35 loss: tensor(1.0003)
epoch: 36 loss: tensor(0.9986)
epoch: 37 loss: tensor(0.9944)
epoch: 38 loss: tensor(0.9950)
epoch: 39 loss: tensor(0.9934)
epoch: 40 loss: tensor(0.9953)
epoch: 41 loss: tensor(0.9895)
epoch: 42 loss: tensor(0.9888)
epoch: 43 loss: tensor(0.9849)
epoch: 44 loss: tensor(0.9849)
epoch: 45 loss: tensor(0.9843)
epoch: 46 loss: tensor(0.9864)
epoch: 47 loss: tensor(0.9844)
epoch: 48 loss: tensor(0.9809)
epoch: 49 loss: tensor(0.9815)
epoch: 50 loss: tensor(0.9829)
epoch: 51 loss: tensor(0.9820)
epoch: 52 loss: tensor(0.9846)
epoch: 53 loss: tensor(0.9793)
epoch: 54 loss: tensor(0.9787)
epoch: 55 loss: tensor(0.9775)
epoch: 56 loss: tensor(0.9805)
epoch: 57 loss: tensor(0.9767)
epoch: 58 loss: tensor(0.9760)
epoch: 59 loss: tensor(0.9747)
epoch: 60 loss: tensor(0.9722)
epoch: 61 loss: tensor(0.9668)
epoch: 62 loss: tensor(0.9694)
epoch: 63 loss: tensor(0.9655)
epoch: 64 loss: tensor(0.9659)
epoch: 65 loss: tensor(0.9628)
epoch: 66 loss: tensor(0.9622)
epoch: 67 loss: tensor(0.9594)
epoch: 68 loss: tensor(0.9595)
epoch: 69 loss: tensor(0.9598)
epoch: 70 loss: tensor(0.9607)
epoch: 71 loss: tensor(0.9591)
epoch: 72 loss: tensor(0.9578)
epoch: 73 loss: tensor(0.9550)
epoch: 74 loss: tensor(0.9568)
epoch: 75 loss: tensor(0.9575)
epoch: 76 loss: tensor(0.9575)
epoch: 77 loss: tensor(0.9552)
epoch: 78 loss: tensor(0.9555)
epoch: 79 loss: tensor(0.9530)
epoch: 80 loss: tensor(0.9535)
epoch: 81 loss: tensor(0.9520)
epoch: 82 loss: tensor(0.9534)
epoch: 83 loss: tensor(0.9557)
epoch: 84 loss: tensor(0.9505)
epoch: 85 loss: tensor(0.9491)
epoch: 86 loss: tensor(0.9481)
epoch: 87 loss: tensor(0.9472)
epoch: 88 loss: tensor(0.9497)
epoch: 89 loss: tensor(0.9463)
epoch: 90 loss: tensor(0.9510)
epoch: 91 loss: tensor(0.9511)
epoch: 92 loss: tensor(0.9518)
epoch: 93 loss: tensor(0.9479)
epoch: 94 loss: tensor(0.9484)
epoch: 95 loss: tensor(0.9498)
epoch: 96 loss: tensor(0.9487)
epoch: 97 loss: tensor(0.9457)
epoch: 98 loss: tensor(0.9508)
epoch: 99 loss: tensor(0.9475)
epoch: 100 loss: tensor(0.9480)
epoch: 101 loss: tensor(0.9452)
epoch: 102 loss: tensor(0.9448)
epoch: 103 loss: tensor(0.9429)
epoch: 104 loss: tensor(0.9497)
epoch: 105 loss: tensor(0.9427)
epoch: 106 loss: tensor(0.9433)
epoch: 107 loss: tensor(0.9411)
epoch: 108 loss: tensor(0.9418)
epoch: 109 loss: tensor(0.9401)
epoch: 110 loss: tensor(0.9408)
epoch: 111 loss: tensor(0.9391)
epoch: 112 loss: tensor(0.9404)
epoch: 113 loss: tensor(0.9386)
epoch: 114 loss: tensor(0.9397)
epoch: 115 loss: tensor(0.9382)
epoch: 116 loss: tensor(0.9394)
epoch: 117 loss: tensor(0.9376)
epoch: 118 loss: tensor(0.9393)
epoch: 119 loss: tensor(0.9365)
epoch: 120 loss: tensor(0.9380)
epoch: 121 loss: tensor(0.9370)
epoch: 122 loss: tensor(0.9375)
epoch: 123 loss: tensor(0.9346)
epoch: 124 loss: tensor(0.9356)
epoch: 125 loss: tensor(0.9344)
epoch: 126 loss: tensor(0.9356)
epoch: 127 loss: tensor(0.9337)
epoch: 128 loss: tensor(0.9347)
epoch: 129 loss: tensor(0.9328)
epoch: 130 loss: tensor(0.9340)
epoch: 131 loss: tensor(0.9318)
epoch: 132 loss: tensor(0.9329)
epoch: 133 loss: tensor(0.9312)
epoch: 134 loss: tensor(0.9320)
epoch: 135 loss: tensor(0.9304)
epoch: 136 loss: tensor(0.9311)
epoch: 137 loss: tensor(0.9302)
epoch: 138 loss: tensor(0.9317)
epoch: 139 loss: tensor(0.9295)
epoch: 140 loss: tensor(0.9297)
epoch: 141 loss: tensor(0.9291)
epoch: 142 loss: tensor(0.9287)
epoch: 143 loss: tensor(0.9272)
epoch: 144 loss: tensor(0.9279)
epoch: 145 loss: tensor(0.9283)
epoch: 146 loss: tensor(0.9287)
epoch: 147 loss: tensor(0.9273)
epoch: 148 loss: tensor(0.9280)
epoch: 149 loss: tensor(0.9266)
epoch: 150 loss: tensor(0.9274)
epoch: 151 loss: tensor(0.9262)
epoch: 152 loss: tensor(0.9262)
epoch: 153 loss: tensor(0.9252)
epoch: 154 loss: tensor(0.9263)
epoch: 155 loss: tensor(0.9251)
epoch: 156 loss: tensor(0.9254)
epoch: 157 loss: tensor(0.9248)
epoch: 158 loss: tensor(0.9252)
epoch: 159 loss: tensor(0.9247)
epoch: 160 loss: tensor(0.9258)
epoch: 161 loss: tensor(0.9236)
epoch: 162 loss: tensor(0.9247)
epoch: 163 loss: tensor(0.9234)
epoch: 164 loss: tensor(0.9240)
epoch: 165 loss: tensor(0.9230)
epoch: 166 loss: tensor(0.9236)
epoch: 167 loss: tensor(0.9216)
epoch: 168 loss: tensor(0.9233)
epoch: 169 loss: tensor(0.9219)
epoch: 170 loss: tensor(0.9228)
epoch: 171 loss: tensor(0.9217)
epoch: 172 loss: tensor(0.9222)
epoch: 173 loss: tensor(0.9207)
epoch: 174 loss: tensor(0.9224)
epoch: 175 loss: tensor(0.9204)
epoch: 176 loss: tensor(0.9214)
epoch: 177 loss: tensor(0.9208)
epoch: 178 loss: tensor(0.9215)
epoch: 179 loss: tensor(0.9204)
epoch: 180 loss: tensor(0.9208)
epoch: 181 loss: tensor(0.9200)
epoch: 182 loss: tensor(0.9208)
epoch: 183 loss: tensor(0.9197)
epoch: 184 loss: tensor(0.9205)
epoch: 185 loss: tensor(0.9190)
epoch: 186 loss: tensor(0.9196)
epoch: 187 loss: tensor(0.9184)
epoch: 188 loss: tensor(0.9196)
epoch: 189 loss: tensor(0.9189)
epoch: 190 loss: tensor(0.9195)
epoch: 191 loss: tensor(0.9181)
epoch: 192 loss: tensor(0.9191)
epoch: 193 loss: tensor(0.9176)
epoch: 194 loss: tensor(0.9183)
epoch: 195 loss: tensor(0.9175)
epoch: 196 loss: tensor(0.9181)
epoch: 197 loss: tensor(0.9177)
epoch: 198 loss: tensor(0.9181)
epoch: 199 loss: tensor(0.9169)
epoch: 200 loss: tensor(0.9174)

# Testing the SAE

In [24]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion( output, target )
        mean_corrector = nb_movies / float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data * mean_corrector)
        s += 1.
print( "test loss: " + str( test_loss / s ) )

test loss: tensor(0.9559)